<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
  <h1>Hello</h1>


  <form action="/action_page.php">
    <label for="newUrl">URL</label><br>
    <input type="text" id="newUrl" name="newUrl"><br>
    <input type="submit" value="Submit">
  </form>


    <div class="list-group w-auto">
        <% urlList.forEach(element => { %>
            <div class="list-group w-80">
                <a href="/<%= element.short %>" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h6 class="mb-0"><%= element.short %></h6>
                        <p class="mb-0 opacity-75"><%= element.full %></p>
                      </div>
                      <small class="opacity-50 text-nowrap"><%= element.createdAt %></small>
                    </div>
                  </a>
            </div>
        <% }) %>
    </div>
    
</body>
</html>