<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>Project-URL-Shortner</title>
  </head>

  <body>
    <div class="container">
      <h1 class="text-center mt-5">Project-URL-Shortner</h1>
      <p class="text-center">
        Made with 🖤 by
        <a href="https://github.com/githmin">Githmin Jayawardhana</a>
      </p>

      <form action="/new" method="post">
        <label for="full" class="form-label">URL</label><br />
        <input
          type="string"
          id="full"
          name="full"
          class="form-control"
          placeholder="Place your url here"
          required
        /><br />
        <input type="submit" value="Submit" class="btn btn-success mb-4" />
      </form>

      <div class="list-group w-auto">
        <table class="table table-striped table-hover">
          <thead>
            <th>Shortened URL</th>
            <th>Original URL</th>
            <th>Clicks</th>
          </thead>

          <tbody class="table-group-divider">
            <% urlList.forEach(element => { %>
            <tr>
              <div>
                <td class="mb-0">
                  <a
                    href="
                  https://shorten.cyclic.app/rdr/<%= element.short %>"
                    >
                    shorten.cyclic.app/<%= element.short %></a
                  >
                </td>
                <td class="mb-0 opacity-75"><%= element.full %></td>
                <td class="mb-0 opacity-75"><%= element.clicks %></td>
              </div>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
